<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Selamat! Anda Diterima dalam Program Magang</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 40px 0;
      background-color: #f1f1f1;
    "
  >
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      style="background-color: #f1f1f1"
    >
      <tr>
        <td align="center">
          <table
            width="600"
            cellpadding="0"
            cellspacing="0"
            style="
              background-color: #ffffff;
              border: 1px solid #dddddd;
              border-radius: 15px;
              overflow: hidden;
            "
          >
            <!-- Header -->
            <tr>
              <td
                align="center"
                style="background-color: #ffffff; padding: 20px"
              >
                <img
                  src="https://res.cloudinary.com/raafi/image/upload/v1745205582/bi-logo-text_junvjr.png"
                  alt="BI Logo"
                  width="250"
                  style="display: block"
                />
              </td>
            </tr>
            <!-- Content -->
            <tr>
              <td style="padding: 20px">
                <p>Halo <strong><%= full_name %></strong> 👋</p>

                <p>
                  Selamat! Anda telah diterima sebagai peserta Program Magang di
                  Kantor Perwakilan Bank Indonesia Provinsi Jawa Tengah.
                </p>

                <p>
                  Berikut informasi terkait <strong>onboarding</strong> Anda:
                </p>

                <table cellpadding="5" cellspacing="0" width="100%">
                  <tr>
                    <td><strong>📅 Hari/Tanggal</strong></td>
                    <td>: <%= onboarding_date %></td>
                  </tr>
                  <tr>
                    <td><strong>🕝 Waktu</strong></td>
                    <td>: <%= onboarding_time %></td>
                  </tr>
                  <tr>
                    <td><strong>🗺️ Tempat</strong></td>
                    <td>: <%= onboarding_place %></td>
                  </tr>
                  <tr>
                    <td><strong>👔 Pakaian</strong></td>
                    <td>: <%= attire %></td>
                  </tr>
                  <tr>
                    <td><strong>📝 Note</strong></td>
                    <td>: <%= note %></td>
                  </tr>
                </table>

                <p style="margin-top: 20px">
                  Silakan hadir tepat waktu. Bila ada pertanyaan, jangan ragu
                  untuk menghubungi kami.
                </p>

                <p style="margin-top: 40px">Hormat kami,</p>
                <p style="margin-top: 40px">
                  Humas Kantor Perwakilan Bank Indonesia Provinsi Jawa Tengah
                </p>
              </td>
            </tr>
            <!-- Footer -->
            <tr>
              <td
                align="center"
                style="
                  background-color: #005596;
                  color: #ffffff;
                  padding: 20px;
                  font-size: 12px;
                "
              >
                &copy;2025 Kantor Perwakilan Bank Indonesia Provinsi Jawa
                Tengah.
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
